@import url("https://fonts.googleapis.com/css?family=Inter&display=swap");

:root {
  --dark-color: #545894;
  --green-color: rgba(175, 250, 175, 0.35);
  --little-transparent-color: rgba(255, 255, 255, 0.1);
  --base: min(8vw, 3rem);
}

.App {
  text-align: center;
  font-size: var(--base);
  font-family: "Inter", sans-serif;

  margin: 1.5rem;
  padding: 1.5rem;

  background-color: var(--dark-color);
  border-radius: 0.4rem;

  flex: 1;
}

.Container {
  margin-bottom: 2rem;
}

@media only screen and (min-width: 500px) {
  .Container {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 10fr 4fr;
    grid-gap: 1rem;
  }
}

.Todo {
  font-size: calc(0.6 * var(--base));
  font-weight: 400;
  color: white;

  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr auto;

  margin: 0.3rem 0;
  padding: 0.6rem;
  border-radius: 0.3rem;
  background-color: var(--little-transparent-color);
}

button {
  background-color:var(--green-color); 
  border-radius: 0.3rem;
  border: 0;

  font-weight: 600;
  font-size: calc(0.45 * var(--base));
  color: white;

  padding: 0.4rem 1rem;
}

input {
  font-size: calc(0.7 * var(--base));
  color: var(--dark-color);
  font-weight: 500;

  border: 0;
  border-radius: 0.2rem;
  padding: 0.5rem;
}

h3 {
  color: white;
  font-weight: 600;
}
