.App {
  text-align: center;
  font-size: 1.4rem;
  margin: 1rem;
  padding: 1.5rem;
  background-color: rgb(101, 100, 116);
  border-radius: 0.3rem;
}

.Container {
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-auto-flow: column;
  grid-gap: 1rem;
  margin-bottom: 2rem;
}

.Todo {
  color: white;
  font-size: 0.9rem;
  font-weight: 300;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr auto;
  margin: 0.3rem 0;
  padding: 0.4rem;
  background-color: rgba(255, 255, 255, 0.103);
  border-radius: 0.3rem;
}

button {
  background-color: rgba(175, 250, 175, 0.363);
  color: white;
  border-radius: 0.2rem;
  border: 0;
  font-weight: 600;
}

input {
  font-size: 1.2rem;
  padding: 0.1rem;
  color: rgba(65, 65, 65, 0.897);
  border: 0;
  border-radius: 0.2rem;
}

h3 {
  color: white;
  font-weight: 600;
}