.track {
  color: rgb(224, 223, 223);
  background: linear-gradient(90deg, #14274e 0%, #394867 100%);
  border-radius: 1rem;
  padding: 1rem 2rem;
  font-weight: 300;
  color: #75849e;
}

.track h2 {
  color: #9ba4b4;
}


.info {
  margin-bottom: 3rem;
} 

.area  {
  display: grid;
  grid-template-columns: auto 1fr;
}

.iconWrapper {
  padding: 1rem;
  padding-right: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.message {
  padding-top: 4rem;
  margin: 0 auto;
  text-align: center;
}

.iconWrapper svg {
  transform: scale(2);
}

.search {
  font-size: 1.6rem;
  background-color: transparent;
  border: 0.4rem #14274e solid;
  color: #14274e;
  border-radius: 0.3rem;
  padding: 1rem;
  font-weight: 600;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 4rem 0;
}