.main {
  padding: 2.5rem;
  background: rgb(210, 255, 221);
  background: linear-gradient(0deg, rgb(195, 227, 253) 0%, rgb(252, 252, 252) 23%);
  overflow: scroll;
  max-height: 100vh;
  min-height: 100vh;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: auto 1fr;
  max-height: 100vh;
  min-height: 100vh;
}
